h1{ font-size: 100px; }
h1{ color: white; }
h2{ color: yellow; }
h3{ color: cyan; }
h4{ font-size: 20px; }
h4{ color: white; }

body {
  background-color: #0a3d62; /* 暗めネオンブルー */
  color: #fff;
  font-family: 'Inter', sans-serif;
}

nav{
text-align: center;
}
nav ul{
margin: 0 ;
padding: 0 ;
}
nav ul li{
list-style: none;
display: inline-block;
width: 18%;
min-width: 90px;
}
nav ul li a{
text-decoration: none;
color: #333;
}
nav ul li.current a{
color: #F33135;
}
nav ul li a:hover{
color: #E7DA66;
}
   
footer {
background-color: #008080;
color: #fff;
text-align: center;
padding: 1rem;
margin-top: 2rem;
}

}
nav{
padding-top: 20px;
box-sizing: border-box;
}
nav{
position: fixed;
top: 0;
left: 0;
}






